body{
    background-color: black;
}
#logo{
    background:url('chat.jpeg');
    height:10vh;
    width:10vw;
    background-size: contain;
    background-repeat:no-repeat;
    overflow: hidden;
}
nav{
    display:block;
    margin-left:45%;
}
.container{
    height: 40vh;
    overflow-y: auto;
    margin:23px;
}
.message{
    background-color: white;
    margin:10px;
    padding:10px;
    width:24%;
    border: 2px solid white;
    border-radius: 4px;
}
.left{
    clear: both;
    float: left;
}
.right{
    clear:both;
    float: right;
}
.input{
    text-align: center;
    height: 20%;
}
input{
    width:50%;
    height: 20%;
}
.message2{
    background-color: white;
    margin:10px;
    padding:10px;
    width:24%;
    border: 2px solid white;
    border-radius: 4px;
}